{% extends "layout.html" %}
{% block content %}

  
  <!-- Confirm Modal -->
  <div class="modal fade" id="confirmEmergencyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You have deviated!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you all right? You went off course!<br />
          If you don't respond in <span id="countdowntimer">10 </span> seconds, emergency will be confirmed!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="emergencyActivated()">S.O.S</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">I am OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- S.O.S Modal -->
  <div class="modal fade" id="sosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">S.O.S Confirmed!</h5>
          </button>
        </div>
        <div class="modal-body">
          Police has been notified and an officer is on the way to you, don't worry!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancelEmergency()">Cancel Emergency</button>
        </div>
      </div>
    </div>
  </div>

<br />
<button class="btn btn-primary btn-lg" onclick="moveToNextStepClicked()">Move to next step</button>
<button class="btn btn-warning btn-lg" onclick="respondOffCourse()">Deviate</button>
<button class="btn btn-danger btn-lg" onclick="emergencyActivated()">S.O.S</button>
<button class="btn btn-dark btn-lg" onclick="userExitClicked()">Exit</button>
<div id="map" style="width: 60%; height: 80%; position: absolute; float: left;">
</div>

<div style="float: right; text-align: center;">
<h1>Directions</h1>
<div id="steps">
</div>
</div>
</div>

<script type="text/javascript">
    var map;
    var route;
    var routeRender;
    var infoWindow;
    var start;
    var userCircle;
    var wayPoints = [];
    var currentWayPointIndex = 0;
    var directions = [];

    function init(){
        //Initialise the map
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 0, lng: 0},
            zoom: 1
        });

        infoWindow = new google.maps.InfoWindow;

        userCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.4,
            map: map,
            center: new google.maps.LatLng(),
            radius: 20
        });

        //Center map on GPS
        if (navigator.geolocation){  
            navigator.geolocation.getCurrentPosition(getPosition);
        } else {
            alert("Sorry but location does not seem to be enabled!");
        }
        
        //Initialise routes services
        route = new google.maps.DirectionsService();
        routeRender = new google.maps.DirectionsRenderer();
        routeRender.setMap(map);
    }

    function getPosition(position) {
        var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        }
        
        start = new google.maps.LatLng(pos);
        userCircle.center = start;
        map.setCenter(pos);
        map.setZoom(16);

        infoWindow.setPosition(pos);
        infoWindow.setContent("You");
        infoWindow.open(map);

        navigator.geolocation.getCurrentPosition(generateRoute);

        monitorJourney()
    }


    function generateRoute(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var start = new google.maps.LatLng({lat: lat, lng: lng});
        // Using coordinates from URL parameters
        var end = new google.maps.LatLng({lat: {{lat}}, lng: {{long}}});

        var request = {
            origin: start,
            destination: end,
            travelMode: 'WALKING'
        };
        route.route(request, function(result, status) {
            if (status == 'OK') {
                routeRender.setDirections(result);

                let steps = result.routes[0].legs[0].steps;
                
                var counter = 0;

                steps.forEach(step => {
                    wayPoints.push(step.end_location);

                    let instruction = step.instructions;
                    let distance = step.distance.text;
                    var text = "Instruction: " + instruction + "\nDistance: " + distance;
                    directions.push(text);

                    if (counter == 0){
                        counter += 1;
                        text = "<mark style='background-color: red'>Instruction: " + text + "</mark>";
                    }
                    text += "<br />"

                    document.getElementById("steps").innerHTML += text;
                });

            } else {
                console.log("API key not valid!");
            }
        });
    }

    function monitorJourney() {
        //Initialise sensors for the journey

        //Run the checks
        while (true) {
            monitorAccelerometer();
            monitorLocation();
            break;
        }
    }

    function moveToNextStepClicked(){
        
        if (currentWayPointIndex < wayPoints.length){
            let wayPoint = wayPoints[currentWayPointIndex];
            let lat = wayPoint.lat();
            let long = wayPoint.lng();
            let pos = {lat: lat, lng: long};
            userCircle.setCenter(new google.maps.LatLng(pos));

            infoWindow.setPosition(pos);

            var innerHTMLArray = document.getElementById("steps").innerHTML.split("<br>")
            innerHTMLArray[currentWayPointIndex] = directions[currentWayPointIndex]

            if (currentWayPointIndex + 1 < wayPoints.length){
                innerHTMLArray[currentWayPointIndex + 1] = "<mark style='background-color: red'>Instruction: " + directions[currentWayPointIndex + 1] + "</mark>";
            }

            
            document.getElementById("steps").innerHTML = innerHTMLArray.join("<br />");
        }

        currentWayPointIndex += 1;

        if (currentWayPointIndex == wayPoints.length){
            respondArrived();
        }
    }

    function monitorAccelerometer() {
        //Code that checks to trigger the accelerometer response if necessary

    }

    function monitorLocation() {
        //Code that checks the GPS location to see if the user has stopped, gone off course or arrived

    }

    function respondAccelerometer() {
        //Code that runs if the accelerometer is triggered
    }

    var countdown;

    function respondOffCourse() {
        //Code that runs if the user goes off course
        clearInterval(countdown);
        document.getElementById("countdowntimer").textContent = 10;
        emergencyConfirmed = false;
        
        $("#confirmEmergencyModal").modal('show');
        var seconds = 10;

        countdown = setInterval(function() {
            seconds--;
            document.getElementById("countdowntimer").textContent = seconds;
            if (seconds == 0){
                clearInterval(countdown);
                $("#confirmEmergencyModal").modal('hide');
                emergencyConfirmed = true;
            }
        }, 1000);
    }

    $('#confirmEmergencyModal').on('hidden.bs.modal', function (e) {
        clearInterval(countdown);
        if (emergencyConfirmed){
            emergencyActivated();
        }
    })

    var emergencyConfirmed = false;
    var emergencySentID;
    function emergencyActivated(){
        $("#sosModal").modal('show');
        let lat = userCircle.center.lat();
        let long = userCircle.center.lng();

        $.ajax({
            type: "POST",
            url: "/emergencyStart",
            data: { userLat: lat, userLong: long },
            success: function(response) {
                emergencySentID = response;
            }
        });
    }

    function modalSOSClicked(){
        $("#confirmEmergencyModal").modal('hide');
        emergencyConfirmed = true;
    }

    function respondStopped() {
        //Code that runs if the user stops
    }

    function respondArrived() {
        //Code that runs if the user arrives at their destination
        alert("You have reached your destination!");
        location.href = "/userPage";
    }

    function userExitClicked(){
        var txt;
        var r = confirm("Are you sure you want to exit?");
        if (r == true) {
            location.href = "/userPage";
        }

    }

    function cancelEmergency(){
        $.ajax({
            type: "POST",
            url: "/emergencyCancel",
            data: { emergencyID: emergencySentID }
        });
    }

</script>

<script defer async src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE}}&callback=init&libraries=places">
</script>
{% endblock content %}