<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About StaySafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    {% if title %}
    <title>Safe Travel - {{ title }}</title>
{% else %}
    <title>Safe Travel</title>
{% endif %}


  </head>


  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/">SafeTravel</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">

            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('userPage')}}">User Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signout')}}">Sign Out</a>
          </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup')}}">Sign Up</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact')}}">Contact Us</a>
          </li>
            {% endif %}
        </ul>
      </div>
    </nav>

            {% block content %}
            
            {% endblock %}

      </main>

  </body>

</html>
