<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SafeTravel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>


  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">SafeTravel</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>

      </div>
    </nav>

    <header class="page-header header container-fluid">
      <div class="overlay"></div>
      <div class="container features">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h1 class=feature-title>Create Route</h1>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Start" name="">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="" placeholder="Destination">
            </div>
            <button class="btn btn-outline-secondary btn-lg">Start Route</button>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <h1 class="feature-title">Recent Routes</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>CF41 8JK</td>
                    <td>CF54 87G</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>CF53 6HJ</td>
                    <td>CF52 8KL</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>CF42 7DS</td>
                    <td>CF78 8JK</td>
                  </tr>
                </tbody>

              </table>
          </div>

        </div>
        </div>

      </header>








    <script src="jquery-3.4.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="main.js"></script>


  </body>

</html>
