{% extends "layout.html" %}
{% block content %}

<br />
<h1 class=feature-title>Create Journey</h1>
<br />
<div style="width: 80%; margin: 0 auto; display: block; padding-bottom: 20px;" class="form-group">
    <input type="text" class="form-control" id="destinationInput" placeholder="Destination">
</div>

<button id="startButton" class="btn btn-primary btn-lg" onclick="initRoute()">Start Route</button>
<button id="startJourneyButton" class="btn btn-danger btn-lg" style="visibility: hidden;" onclick="startJourney()">Start Journey</button>


<br />
<div id="map" style="width: 100%; position: absolute; height: 70%;"></div>

<!--Map Scripts-->
<script type = "text/javascript">
    var map;
    var route;
    var routeRender;
    var infoWindow;
    var start;
    var userCircle;
    var journeyEndLat;
    var journeyEndLong;

    function init() {
        //Initialise the map
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 0, lng: 0},
            zoom: 1
        });

        infoWindow = new google.maps.InfoWindow;

        userCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.4,
            map: map,
            center: new google.maps.LatLng(),
            radius: 20
        });

        //Center map on GPS
        if (navigator.geolocation){  
            navigator.geolocation.getCurrentPosition(setMapCenter);
        } else {
            alert("Sorry but location does not seem to be enabled!");
        }
        
        //Initialise routes services
        route = new google.maps.DirectionsService();
        routeRender = new google.maps.DirectionsRenderer();
        routeRender.setMap(map);

        //Initialise places for input
        var destinationBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng({lat: 51.447116, lng: -3.257797}),
            new google.maps.LatLng({lat: 51.515633, lng: -3.125522}));
        var destinationInput = document.getElementById("destinationInput");
        var options = {
            bounds: destinationBounds,
            strictBounds: true
        }
        autocomplete = new google.maps.places.Autocomplete(destinationInput, options);
    }

    function setMapCenter(position) {
        var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        }
        
        start = new google.maps.LatLng(pos);
        userCircle.center = start;
        map.setCenter(pos);
        map.setZoom(15);

        infoWindow.setPosition(pos);
        infoWindow.setContent("You");
        infoWindow.open(map);
    }

    function generateRoute(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        var start = new google.maps.LatLng({lat: lat, lng: lng});
        var end = document.getElementById("destinationInput").value;

        var request = {
            origin: start,
            destination: end,
            travelMode: 'WALKING'
        };
        route.route(request, function(result, status) {
            if (status == 'OK') {
                routeRender.setDirections(result);
                document.getElementById("startJourneyButton").style = "visibility: visible";
                let destinationPlaceID = result.geocoded_waypoints[result.geocoded_waypoints.length - 1].place_id;
                let geocoder = new google.maps.Geocoder;

                geocoder.geocode({'placeId': destinationPlaceID}, function(results, status) {
                    if (status != "OK"){
                        console.log("geocoder failed due to " + status);
                        return;
                    }
                    
                    journeyEndLat = results[0].geometry.location.lat();
                    journeyEndLong = results[0].geometry.location.lng();
                });
            } else {
                console.log("API key not valid!");
            }
        });
    }

    function initRoute() {
        navigator.geolocation.getCurrentPosition(generateRoute)
    }

    function startJourney() {
        location.href = "/journey/lat=" + journeyEndLat + ",long=" + journeyEndLong
    }

</script>

<script defer async src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE}}&callback=init&libraries=places">
</script>


{% endblock content %}
