{% extends "layout.html" %}
{% block content %}

<header class="page-header header container-fluid">
  <div class="overlay"></div>
  <div class="container features">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class=feature-title>Create Route</h1>
        <div id="map" style="height: 600px;"></div>
        <div class="form-group">
          <input type="text" class="form-control" id="destinationInput" placeholder="Destination">
        </div>
        <button class="btn btn-outline-secondary btn-lg" onclick="getRoute()">Start Route</button>
      </div>
    </div>
    </div>

  </header>


<!--Map Scripts-->
<script type = "text/javascript">
    var map;
    var route;
    var routeRender;
    var start;
    var end;
    var request;

    function init() {
        //Initialise the map
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 0, lng: 0},
            zoom: 1
        });

        //Center map on GPS
        if (navigator.geolocation){  
            navigator.geolocation.getCurrentPosition(getPosition);
        } else {
            alert("Sorry but location does not seem to be enabled!");
        }
        
        //Initialise routes services
        route = new google.maps.DirectionsService();
        routeRender = new google.maps.DirectionsRenderer();
        routeRender.setMap(map);

        //Initialise places for input
        var destinationBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng({lat: 51.551734, lng: -3.288834}),
            new google.maps.LatLng({lat: 51.446776, lng: -3.056720}));
        var destinationInput = document.getElementById('destinationInput');
        autocomplete = new google.maps.places.Autocomplete(destinationInput, {bounds: destinationBounds});
    }

    function getPosition(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        map.setCenter({lat, lng});
        map.setZoom(10);
    }

    function getRoute() {
        var start = new google.maps.LatLng({lat: 51.483853, lng: -3.169990});
        var end = new google.maps.LatLng({lat: 51.488298, lng: -3.176767});
        request = {
            origin: start,
            destination: end,
            travelMode: 'WALKING'
        };
        route.route(request, function(result, status) {
            if (status == 'OK') {
                routeRender.setDirections(result);
            } else {
                alert("API key not valid!");
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=[API-KEY]&callback=init">
</script>



{% endblock content %}
